.banner__image{
    background-image: url('../../img/banner-cv.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 600px;
    height: 332px;
}

@media (max-width: 576px){
    .banner__image{
        width: 400px;
        height: 221px;
    }
}

@media (max-width: 479px){
    .banner__image{
        width: 310px;
        height: 172px;
    }
}