.banner__text{
    margin-right: 4rem;
    margin-top: 2rem;
    width: 50%;
}



@media (max-width: 992px) {
    .banner__text{
        width: 100%;
        text-align: center;
        margin-right: 0;
    }
}