.menu__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 576px) {
    #menu-icon {
      display: block;
    }
  
    .menu__nav {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      padding: 1rem 3%;
      background: var(--bg-color);
      border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
      display: none;
    }
  
    .menu__nav.active {
      display: block;
    }
  
    .menu__nav a {
      display: block;
      margin: 1rem 0;
      text-align: end;
      font-size: 16px;
    }
}